.unsaved-changes-message-element-list .blocker {
    position: fixed;
    cursor: pointer;
}

/* .mx-scrollcontainer:not(.mx-scrollcontainer-open) .mx-scrollcontainer-wrapper {
    width: unset !important;
} */
